[submodule "refs/Monet"]
	path = refs/Monet
	url = https://github.com/Lunova-Studio/Monet.git
[submodule "WonderLab.I18n"]
	path = WonderLab.I18n
	url = https://github.com/Lunova-Studio/WonderLab.Override.I18n.git
[submodule "refs/LiteSkinViewer"]
	path = refs/LiteSkinViewer
	url = https://github.com/YangSpring429/LiteSkinViewer.git
